@font-face {
            font-family: 'Droid';
            src: url('./fontes/idroid.otf') format('opentype');

}
.container {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-image: linear-gradient(90deg, #3DDA84);
    
}
.titulo {
    text-align: center;
    padding: 3px 140px;
    text-shadow: #000;
}
h1 {
    font-family: 'Oswald';
    font-weight: lighter;
    text-align: center;
    text-shadow: #000;
}
.menu a {
    font: 8px arial;
    text-decoration: none;
    color: white;
    margin: 2px;
}